.button {
  --background-hover: #6bd1af;
  --background-activated: #6bd1af;
  --background-focused: #6bd1af;
  font-weight: bold;

  &--primary {
    --color: var(--ion-color-secondary);
    --color-activated: var(--ion-color-white);
    --color-hover: var(--ion-color-white);
  }

  &--secondary {
    --background: var(--ion-color-secondary);
  }
}
