:root {
  --ion-color-primary: #1dea03;
  --ion-color-secondary: #004b40;
  --ion-color-danger: ##ff0808;
  --ion-color-text: #000;
  --ion-color-text-light: #d3d3d3;
  --ion-color-text-dark: #757575;
}
