:root {
  // COLORS //
  --ion-color-primary: #1dea03;
  --ion-color-secondary: #004b40;
  --ion-color-danger: ##ff0808;
  --ion-color-text: #000;
  --ion-color-text-light: #d3d3d3;
  --ion-color-text-dark: #757575;

  // STRCUTURE //
  --ion-margin-5: 5px;
  --ion-margin-10: 10px;
  --ion-margin-15: 15px;

  --ion-padding-5: 5px;
  --ion-padding-10: 10px;
  --ion-padding-15: 15px;
  --ion-padding-20: 20px;

  --ion-border-radius-5: 5px;
  --ion-border-radius-10: 10px;
  --ion-border-radius-15: 15px;
  --ion-border-radius-20: 20px;

  --ion-font-size-sm: 14px;
  --ion-font-size-md: 16px;
  --ion-font-size-lg: 18px;
  --ion-font-size-xl: 20px;
}
